@model IEnumerable<OnlineShopping.Models.CartItem>

@{
    ViewBag.Title = "CartItems";
    Layout = "~/Views/User/UserLayoutPage.cshtml";
}

<h2>CartItems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stockQuantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @if (item.image != null)
                {
                    <img style="float:revert;width:300px;height:300px;padding-left:10px;"S  src="data:image/png;base64,@Convert.ToBase64String(item.image)" alt="Product Image" width="50" height="50" />
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockQuantity)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveFromCart", "Product", new { id = item.productID }, null)
            </td>
            <td>
                @Html.ActionLink("Pay", "", "", new { id = item.productID })
            </td>
        </tr>
    }
    <tr>
        <td colspan="2"></td>
        <td><strong>Total Price:</strong></td>
        <td><strong>@Model.Sum(item => item.Price * item.stockQuantity)</strong></td>
        <td></td>
    </tr>
</table>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: lightpink;
    }

    .button {
        background-color: #e40046;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>