@model IEnumerable<OnlineShopping.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetProducts</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        
            @foreach (var item in Model)
            {
                <tr>
                <th>
                    @Html.DisplayFor(model => item.productName)
                </th>
                <th>
                    @Html.DisplayFor(model => item.productSize)
                </th>
                <th>
                    @Html.DisplayFor(model => item.description)
                </th>
                <th>
                    @Html.DisplayFor(model => item.Price)
                </th>
                <th>
                    @Html.DisplayFor(model => item.categoryID)
                </th>
                <th>
                    @Html.DisplayFor(model => item.brand)
                </th>
                <th>
                    @Html.DisplayFor(model => item.stockQuantity)
                </th>


                <td>
                    @if (item.image != null && item.image.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.image)" alt="Profile Image" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>

                <th>
                    @Html.DisplayFor(model => item.productSource)
                </th>
                <th>
                    @Html.DisplayFor(model => item.sellerID)
                </th>


            <td>
                @Html.ActionLink("Edit", "UpdateProduct","Product", new { id = item.productID }) |
                @Html.ActionLink("Details", "Details", new { id = item.productID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.productID })
            </td>

    </tr>
            }
    </table>
</body>
</html>
